@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gameday {
  position: relative;
  margin: auto;
  margin-top: 60px;
  width: 80%;
}

.team {
  font-size: 20px;
  display: inline;
}

.date {
  padding-bottom: 2%;
}

.logo {
  width: 20%;
  height: auto;
  margin-top: 5%;
  margin-left: 10%;
}

.title {
  display: inline-block;
}

.teamlogo {
  width: 20px;
  height: 20px;
  display: inline;
}